server {
    listen 80;
    server_name _;
    root /var/www/html/lighthouse-master;  # ← ЭТОТ ПУТЬ!
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    # для обслуживания .js файлов
    location ~ \.js$ {
        add_header Content-Type application/javascript;
    }
}